.course-page {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.title {
  text-align: center;
  color: #00aaff;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}


.course-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 500px;
  margin: 0 auto 40px auto;
}

.course-form input {
  padding: 10px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.add-btn {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 6px;
  border: none;
  background-color: #00aaff;
  color: white;
  cursor: pointer;
  align-self: center; 
}

.add-btn:hover {
  background-color: #007bb5;
}


.table-wrapper {
  overflow-x: auto;
}

.course-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 40px;
}

.course-table th {
  background: #00aaff;
  color: white;
  padding: 10px;
  text-align: center;
  font-size: 16px;
}

.course-table td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  text-align: center;
  font-size: 14px;
}

.list-title {
  text-align: center;
  color: #00aaff;
  font-size: 22px;
  margin: 40px 0 20px 0;
}


.action-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.edit-btn,
.delete-btn {
  padding: 10px 20px;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}

.edit-btn {
  background-color: #2196f3;
}

.edit-btn:hover {
  background-color: #1976d2;
}

.delete-btn {
  background-color: #e53935;
}

.delete-btn:hover {
  background-color: rgb(167, 94, 72);
}