/* NAVBAR MAIN */
.navbar {
  width: 100%;
  height: 70px;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding-top: 75px;
  overflow-x: hidden;
}

/* LOGO */
.logo {
  font-size: 22px;
  color: #4ddfff;
  font-weight: 700;
  font-family: Georgia, serif;
  white-space: nowrap;
}

/* MENU */
.nav-menu {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 0;
}

/* Links + Drop buttons */
.nav-menu li a,
.dropbtn {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-family: Georgia, serif;
  cursor: pointer;
  padding: 10px 15px;
  display: block;
  white-space: nowrap;
}

.nav-menu li a:hover,
.dropbtn:hover {
  color: #4ddfff;
}

/* DROPDOWN */
.dropdown {
  position: relative;
}

/* Dropdown BOX */
.dropdown-menu {
  display: none;
  position: absolute;
  top: 43px;
  left: 0;
  background: rgb(20, 20, 20);
  min-width: 180px;
  border: 1px solid #444;
  box-shadow: 0 4px 10px rgba(0,0,0,0.5);
  padding: 0;
  list-style: none;
  z-index: 10000;
}

/* Dropdown links */
.dropdown-menu li a {
  padding: 10px 15px;
  color: white;
  display: block;
}

.dropdown-menu li a:hover {
  background: #333;
  color: #4ddfff;
}

/* Show dropdown on hover */
.dropdown:hover .dropdown-menu {
  display: block;
}